{% extends "base.html" %}
{% block title %}RageTube{% endblock %}
{% block head %}
  <style type="text/css">
#aside
{
  background-color: white;
  float: left;
  overflow-y: auto;
  overflow-x: none;
  width: 26%;
}

#aside tr {
  cursor: pointer;
}

#main {
  background-color: white;
  float: left;
  width: 74%;
}

#controls {
  height: 100%;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-right: 10px;
  text-align: left;
  float: left;
}

#controls button {
  font-size: larger;
}

#stats {
  float: right;
  font-size: larger;
  text-align: right;
  margin-right: 1%;
}

.selected {
  border:1px solid black;
  border-radius: .3em;
  font-weight: bold;
}

.unselected {
  border: none;
  font-weight: normal;
}

#urlInput {
  width: 400px;
  font-family: 'Droid Sans', sans-serif;
}

.Yay {
  color: green;
  border-color: green;
}
.Meh {
  color: orange;
  border-color: orange;
}
.Nay {
  color: red;
  border-color: red;
}

.dialog {
  padding: 5px;
  position: absolute;
  z-index: 10;
  top: 100px;
  background-color: white;
  border: 3px solid #1240AB;
  overflow-y: auto;
  overflow-x: hidden;
}

.gsc-clear-button {
  display: none;
}

.gsc-resultsHeader {
  display: none;
}
.gs-visibleUrl {
  display: none;
}

button {
  font-family: 'Droid Sans', sans-serif;
  background: red;
  border-radius: 3px 3px;
  -moz-border-radius: 3px 3px;
  border-width: 0px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  height: 2.0833em;
  overflow: visible;
  padding: 0px 0.5em;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 12px;
}

button:hover, button:focus {
  background: maroon;
  background-image:-moz-linear-gradient(top, red, maroon);
  background-image:-webkit-gradient(linear,left top,left bottom,from(red),to(maroon));
  outline:0;
  -moz-box-shadow:0 0 3px #999;
  -webkit-box-shadow:0 0 3px #999;
  box-shadow:0 0 3px #999;
}

button#notifications {
  float: right;
}


  </style>
  <script src="js/liker.js"></script>
  <script src="js/lscache.js"></script>
  <script>
google.load('search', '1');
google.load('swfobject', '2.2');

var playlistUrl = null;
var playlist = [];
var songs = {};
var currentSong = 0;
var waitingForSong = false;
var youtubePlayer;
var loggedIn = {{loggedin}};

function onSearch() {
  var dialog = document.createElement('div');
  dialog.className = 'dialog';
  var pageWidth = document.documentElement.offsetWidth;
  var dialogWidth = pageWidth - 200;
  dialog.style.width = dialogWidth + 'px';
  dialog.style.height = (document.getElementById('aside').offsetHeight - 100) + 'px';
  dialog.style.left = (pageWidth - dialogWidth)/2 + 'px';

  var closer = document.createElement('div');
  closer.style.cssFloat = 'right';
  var closeButton = document.createElement('button');
  closeButton.innerHTML = 'CLOSE';
  closeButton.onclick = function() {
    document.body.removeChild(dialog);
  };
  closer.appendChild(closeButton);
  dialog.appendChild(closer);
  var searcher = document.createElement('div');
  dialog.appendChild(searcher);

  var results = document.createElement('div');
  dialog.appendChild(results);
  document.body.appendChild(dialog);

  var searchControl = new google.search.SearchControl();
  var webSearch = new google.search.WebSearch();
  webSearch.setSiteRestriction('008586021709508157834:us2cayaulsk', 'Playlists');
  var options = new google.search.SearcherOptions();
  options.setRoot(results);
  options.setExpandMode(google.search.SearchControl.EXPAND_MODE_OPEN);
  searchControl.addSearcher(webSearch, options);
  searchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
  searchControl.setOnKeepCallback(this, function(result) {
    document.getElementById('urlInput').value = result.unescapedUrl;
    document.body.removeChild(dialog);
    onUrlEnter();
  }, 'LOAD PLAYLIST');
  searchControl.draw(searcher);
}

// Loads a new playlist based on the URL entered
// and starts playing it.
function onUrlEnter() {

  // Reset data and UI
  playlist.length = 0;
  songs = {};
  currentSong = -1;
  stopWaiting();
  document.getElementById('playlistTable').innerHTML = '';

  playlistUrl = document.getElementById('urlInput').value;
  window.location.hash = '?url=' + playlistUrl;

  document.getElementById('statusBlock').innerHTML = 'Loading...';

  var key = 'dapper:' + playlistUrl;
  var json = lscache.get(key);
  if (json) {
    processJSON(json);
  } else {
    fetchJSON(playlistUrl);
  }

  function fetchJSON() {
    if (playlistUrl.indexOf('amazon.com') > -1) {
      dappName = 'AmazonSoundtracksPlaylist';
    } else if (playlistUrl.indexOf('playlist/') > -1) {
      dappName = 'RageOldPlaylists';
    } else {
      dappName = 'RagePlaylist';
    }

    var dappUrl = 'http://open.dapper.net/transform.php';
    var params = {
      'dappName': dappName,
      'transformer': 'JSON',
      'applyToUrl': playlistUrl
    }
    JSONP.get(dappUrl, params, 'extraArg_callbackFunctionWrapper', function(json){
      var status = json.dapper.status;
      if (status == 'OK') {
        processJSON(json);
        lscache.set(key, json, 60*24*5);
      } else {
        alert('Sorry, we couldn\'t load that playlist for some reason.');
      }
    });
  }

  function processJSON(json) {
    var groups = json.groups.songinfo;
    for (var i = 0; i < groups.length; i++) {
      var song = {};
      switch (json.dapper.dappName) {
       case 'RageOldPlaylists':
         var allinfo = groups[i].allinfo[0].value;
         var splitinfo = allinfo.split(' - ');
         if (splitinfo.length == 1) continue;
         // Remove numbers before song titles for countdowns
         song.title = splitinfo[0].replace(/^[0-9]*\./, '');
         // Remove labels after titles (without removing featuring)
         song.artist = splitinfo[1].replace(/[A-Z][a-z]+/, '').replace(/EMI|BMG/, '');
         break;
       case 'RagePlaylist':
         song.artist = groups[i].artist[0].value.split(' - ')[0];
         song.title = groups[i].song[0].value;
         break;
       case 'AmazonSoundtracksPlaylist':
         song.artist = groups[i].artist[0].value.replace('OST', '');
         song.title = groups[i].title[0].value;
         break;
      }

      song.id = (song.artist + '-' + song.title).toLowerCase().replace(' ', '').replace('+','plus').replace('&', 'and');
      songs[song.id] = song;
      playlist.push(song.id);
    }

    
    if (loggedIn) {
      var url = '/action/viewer/get_song_stats';
      var data = '';
      for (var i = 0; i < playlist.length; i++) {
        data += 'key_name=' + playlist[i] + '&';
      }
      AJAX.post(url, data, function(response){
        var songStats = eval( '(' + response + ')');
        for (songId in songStats) {
          if (songs[songId]) {
            songs[songId].opinion = songStats[songId].opinion;
            songs[songId].viewcount = songStats[songId].viewcount;
          }
        }
        showSongs();
      });
    } else {
      showSongs();
    }
    
    function showSongs() {
      // Create table of songs in playlist
      for (var i = 0; i < playlist.length; i++) {
        addSongRow(i);
      }
      document.getElementById('statusBlock').innerHTML = '';
      document.getElementById('message').style.display = 'none';
      document.getElementById('controls').style.display = 'block';
      pickNextSong();
      playNext();
    }
  }
}

function addSongRow(songNum) {
  var song = songs[(playlist[songNum])];

  var songRow = document.createElement('tr');
  songRow.id = 'song' + songNum;
  var artistCol = document.createElement('td');
  artistCol.innerHTML = song.artist;
  var titleCol = document.createElement('td');
  titleCol.innerHTML = song.title;
  var likerCol = document.createElement('td');
  likerCol.style.width = '30px';
  likerCol.appendChild(new Liker(song, true));

  songRow.appendChild(artistCol);
  songRow.appendChild(titleCol);
  songRow.appendChild(likerCol);
  songRow.onclick = function() {
    currentSong = songNum;
    playNext();
  };

  var playlistTable = document.getElementById('playlistTable');
  playlistTable.appendChild(songRow);
}

function pickNextSong() {
  if (document.getElementById('shuffle').checked) {
    do  {
      nextSong = Math.round(Math.random() * (playlist.length-1));
    } while (nextSong == currentSong)
    currentSong = nextSong;
  } else {
    currentSong++;
  }
  
  playNext();
}

  
// Plays the next song and queues the one after that.
function playNext() {
  // If we've already found the youtube Id, play it
  // Otherwise, search for the song and play it once found
  var song = songs[(playlist[currentSong])];
  
  if (loggedIn) {
    var playableOpinions = {}
    if (document.getElementById('play_yay').checked) playableOpinions['Yay'] = true;
    if (document.getElementById('play_meh').checked) playableOpinions['Meh'] = true;
    if (document.getElementById('play_nay').checked) playableOpinions['Nay'] = true;
    if (!(song.opinion && playableOpinions[song.opinion] ||
        !song.opinion && document.getElementById('play_unrated').checked)) {
      pickNextSong();
      return;
    }
  }
  
  if (song.youtubeId) {
    stopWaiting();
    // If we haven't embedded the youtube player SWF yet, do it now
    // Otherwise, use the JS API to load the video
    if (!youtubePlayer) {
      var params = {allowScriptAccess: 'always', allowFullScreen: 'true', wmode: 'transparent'};
      var atts = {id: 'youtubeplayer'};
      var width = document.getElementById('main').offsetWidth;
      var height = document.getElementById('main').offsetHeight - 100;
      swfobject.embedSWF('http://www.youtube.com/v/' + song.youtubeId +
        '?autoplay=1&showsearch=0&rel=0&fs=1&enablejsapi=1&playerapiid=ytplayer',
        'videoplayer', '99%', '80%', '8', null, null, params, atts);
      document.getElementById('controls').style.width = (width-10) + 'px';
    } else {
      youtubePlayer.loadVideoById(song.youtubeId);
    }
 
    
    if (loggedIn) {
      document.getElementById('liker').innerHTML = '';
      document.getElementById('viewcount').innerHTML = '';
      document.getElementById('liker').appendChild(new Liker(song));
      if (song.viewcount) {
        document.getElementById('viewcount').innerHTML += 'Viewed ' + song.viewcount + ' times';
      } else {
        document.getElementById('viewcount').innerHTML += 'First time viewing';
      }
      updateSongCount(song);
    }
    
    // Toggle CSS so current song shows as playing
    for (var i = 0; i < playlist.length; i++) {
      document.getElementById('song' + i).className = 'unselected';
    }
    var songBlock = document.getElementById('song' + currentSong);
    songBlock.className = 'selected';

    document.getElementById('aside').scrollTop = songBlock.offsetTop;
    
    notify(song);
  } else {
    beginWaiting();
    searchForSong(currentSong);
  }

  // Queue next song if we're not in shuffle mode
  if (!document.getElementById('shuffle').checked && !playlist[currentSong + 1].youtubeId) {
    searchForSong(currentSong + 1);
  }
}

function beginWaiting() {
  document.getElementById('songloading').style.display = 'block';
  waitingForSong = true;
}

function stopWaiting() {
  document.getElementById('songloading').style.display = 'none';
  waitingForSong = false;
}

function updateSongCount(song) {
  var baseUrl = '/action/viewer/update_song_stats?';
  var url = baseUrl + 'key_name=' + song.id + '&title=' + song.title + '&artist=' + song.artist;
	AJAX.post(url + '&addview=true', null, function(response){
    var songStats = eval( '(' + response + ')');
    song.viewcount = songStats.viewcount;
  });
}


// Searches for the song, and plays it if needed
function searchForSong(songNum) {
  var song = songs[(playlist[songNum])];
  var query = song.artist + ' ' + song.title;

  var key = 'youtube:' + query;
  var json = lscache.get(key);
  if (json) {
    processJSON(json);
  } else {
    fetchJSON(query);
  }

  function fetchJSON() {
    var searchUrl = 'http://gdata.youtube.com/feeds/api/videos';
    var params = {
      'v': '2',
      'alt': 'jsonc',
      'format': '5',
      'q': query
    }
    JSONP.get(searchUrl, params, null, function(json) {
      processJSON(json);
      lscache.set(key, json, 60*10);
    });
  }

  function processJSON(json) {
    song.results = json.data.items || [];
    if (song.results.length == 0) {
      song.youtubeId = 'r_J6hCCQ_ng';
    } else {
      song.youtubeId = json.data.items[0].id;
      song.thumbnail = json.data.items[0].thumbnail.sqDefault;
    }
    
    // If the player is waiting for this song info, play it now
    if (waitingForSong) {
      playNext();
    }
  }
}

// Called when the embedded player is available to be scripted
function onYouTubePlayerReady(playerId) {
  // Save player to global variable and add event listener
  youtubePlayer = document.getElementById('youtubeplayer');
  youtubePlayer.addEventListener('onStateChange', 'onYouTubePlayerStateChange');
  youtubePlayer.addEventListener('onError', 'onYouTubePlayerError');
}

// Called whenever the embedded player changes state.
function onYouTubePlayerStateChange(newState) {
  // If the video has reached the end, then play the next song
  if (newState == 0) {
    pickNextSong();
  }
}

function onYouTubeError(error) {
  window.console && console.log && console.log(error);
}

function noop() {}
notify = noop;

if (window.webkitNotifications) {
  var focused = true;
  var notification;
  
  window.addEventListener('blur', function() {
    focused = false;
  });
  window.addEventListener('focus', function() {
    focused = true;
    if (window.notification) {
      notification.cancel();
    }
  });
  
  var notify_ = function(song) {
    if (notification) {
      notification.cancel();
    }
    if (!focused) {
      try {
          notification = webkitNotifications.createNotification(song.thumbnail || 'img/logo.png', song.artist, song.title);
          notification.show();
          notification.addEventListener('click', function() {
            // TODO: somehow get focus?
            this.cancel();
          });
          setTimeout(function() {
            notification.cancel();
          }, 10000);
        }
        catch(e) {
          window.console && console.log && console.log(e);
        }
    }
  };
  
  if (webkitNotifications.checkPermission() == 0) {
    // we already have permission
    notify = notify_;
  }
  else {
    google.setOnLoadCallback(function() {
      // add a button to request permission
      // TODO: dropdown "settings" button
      var requestButton = document.createElement("button");
      requestButton.id = "notifications";
      requestButton.innerHTML = "Use desktop notifications";
      document.getElementById("options").appendChild(requestButton);
    
      requestButton.addEventListener('click', function() {
        webkitNotifications.requestPermission(function() {
          // we got permission
          notify = notify_;
          document.getElementById("header").removeChild(requestButton);
        });
      });
    });
  }
}
  </script>
{% endblock %}


{% block header %}
  <label for="urlInput">Enter URL to Rage playlist:</label>
  <input id="urlInput" type="text"
  value="http://www.abc.net.au/rage/archive/s3104300.htm">
  <button onclick="onUrlEnter()">LOAD</button>
  <span id="statusBlock"></span>
  or
  <button onclick="onSearch()">SEARCH PLAYLISTS</button>
  &nbsp;
  <div style="float:right"><a href="{{url}}">{{ url_linktext }}</a></div>
  
  <div id="options" style="font-size:smaller; margin-top: 5px;">
   <label>Shuffle <input type="checkbox" id="shuffle"></label>
  {% ifequal loggedin "true" %}
   &nbsp; Play songs with opinion: 
   <label>Yay <input type="checkbox" id="play_yay" checked></label>
   <label>Meh <input type="checkbox" id="play_meh" checked></label>
   <label>Nay <input type="checkbox" id="play_nay"></label>
   <label>Unrated <input type="checkbox" id="play_unrated" checked></label>
  {% endifequal %}
   </div>
   
  </label>
{% endblock %}

{% block middle %}
   
   
   <div id="aside">
    <table>
     <tbody id="playlistTable">
      
     </tbody>
    </table>
   </div>

   <div id="main">
   
   <div id="message" style="height: 100%;">
    <div style="padding-top: 30%;">
    {% ifequal loggedin "false" %}
    New! You can now <a href="{{url}}">login</a> to remember what songs you like and contribute to the global stats.
    {% endifequal %}
    </div>
   </div>
   
    <div id="controls" style="display:none">
      <div id="videoplayer">
      
      </div>
      <div id="stats">
        <div id="liker"></div>
        <div id="viewcount"></div>
      </div>
      <button onclick="pickNextSong();">NEXT</button>
      <img id="songloading" src="img/loading.gif" style="margin-left: 3px; margin-top: 2px; display:block">
    </div>

   </div>
   
{% endblock %}

{% block bodyend %}
<script>
function getHashParam(name) {
  var regexS = "[\\?&]" + name + "=([^&#]*)";
  var regex = new RegExp(regexS);
  var results = regex.exec(window.location.hash);
  return (results === null ? "" : results[1]);
}

var url = getHashParam('url');
if (url) {
  document.getElementById('urlInput').value = url;
  onUrlEnter();
}

var offset = 180;
if (window.innerHeight) {
  var height = window.innerHeight - offset;
} else {
  var height = document.documentElement.offsetHeight - offset;
}
document.getElementById('aside').style.height = height + 'px';
document.getElementById('main').style.height = height + 'px';
</script>
{% endblock %}
